.App {
  text-align: center;
  background: rgb(142, 140, 176);
  background: linear-gradient(
    0deg,
    rgba(142, 140, 176, 1) 4%,
    rgba(235, 209, 52, 1) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comments-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.comment {
  margin-bottom: 10px;
  margin: 5px;
  background-color: #feee7f;
  max-width: 60%;
  margin: 0 auto;
}

.user-name {
  font-weight: bold;
}

.comment-divider {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cd9711;
}

.user-logo .initials {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
