.App {
  text-align: center;
  background: rgb(142, 140, 176);
  background: linear-gradient(
    0deg,
    rgba(142, 140, 176, 1) 4%,
    rgba(235, 209, 52, 1) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comments-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #feee7f;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 45px;
  min-height: 130px;
  position: relative;
  padding-left: 40px;
}

.user-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.user-name {
  position: absolute;
  left: 45px;
  bottom: 14px;
  min-width: 200px;
  font-weight: normal;
  text-align: left;
  background-color: #cd9711;
  height: 25px;
  margin: auto;
  padding-left: 10px;
  padding-top: 7px;
  font-size: 18px;
}

.comment-divider {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #cd9711;
}

.user-logo .initials {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  margin: auto;
}

.btn-delete {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #cd9711;
  border: none;
  cursor: pointer;
}

.delete-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.comment-body {
  text-align: left;
  width: 100%;
  margin-top: 45px;
  color: #8f8a6a;
  font-size: 18px;
}
form {
  width: 62%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

form input {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  border: solid 2px #602a26;
}
form textarea {
  width: 100%;
  min-height: 130px;
  margin: 0 auto;
  border: solid 2px #602a26;
  font-size: 20px;
}

form button {
  position: absolute;
  top: 154px;
  right: -33px;
  background-color: #602a26;
  width: 80px;
  height: 40px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
